html, body, #root {
  background-color: #e5e5e5;
  padding: 0;
  margin: 0;
  overflow: unset;
}

body {
  margin: 0;
  overflow: unset;
}

#root {
  position: relative;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666666;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
